@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
  font-family: 'Tilt Neon', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #011F3F;
  color: #FEF2BF;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#level-title {
  font-size: 3rem;
  margin:  3rem 5%;
}

.instruction-size {
  font-size: 1rem;
}

.description {
  display: none;
  position: absolute;
  left: 1%;
  top: 1%;
  width: 30vw;
  background-color: #065ab4c6;
  border-radius: 10px;
  text-align: left;
  padding: 10px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);

  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

.playButton{
  margin-top: 5rem !important;
}

#level-lose {
  font-size: 4rem;
  margin:  2rem;
  color: #f70505;
}

.container {
  display: none;
  width: 50%;
  margin: 0 auto;
}

.row div, .btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#start {
  display: block;
  margin: 0 auto;
  font-size: 3.5rem;
  color: blue;
}

@keyframes growCounter {
  from {
    width: 0px;
    font-size: 1rem;
}
to {
    width: 100%;
    font-size: 3rem;
}
}

.timer-bar {
  height: 1.2rem;
  font-size: 1rem;
  width: 0;
  background-color: #f70505;
  margin-top: 1rem;
  animation-duration: 20s;
  animation-timing-function: linear;
  transform: translateY(-50%);
}

.timer-text{
  text-align: end;
  transform: translateY(-30%);
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.footer { 
  margin-top: auto;
  text-align: center;
  background-color: rgba(75, 75, 75, 0.807);
  color:#FEF2BF;
}

a {
  margin: 5px;
  padding: 0 5px;
}

a:link {
  background-color: none;
  color: #FEF2BF;
  text-decoration: none;
}

a:visited {
  color: #FEF2BF;
  text-decoration: none;
}

a:hover {
  background-color: #065ab4c6;
  color: #FEF2BF;
  text-decoration: none;
  border-radius: 5px;
}

a:active {
  background-color: #065ab4c6;
  text-decoration: none;
} 

@media all and (max-width: 1024px){
  .description {
    width: 50vw;
    background-color: #00346c;
  }

  #level-title {
    font-size: 2rem;
    margin:  2rem 5%;
  }

  #level-lose {
    font-size: 2rem;
    margin:  1rem;
    color: #f70505;
  }

  .row div, .btn {
    margin: 1rem 10px 10px;
    height: 200px;
    width: 200px;
    border-radius: 20%;
  }

  .container {
    width: 75%;
  }
}

@media all and (max-width: 500px){
  .container {
    width: 100%;
  }
  #start {
    font-size: 3rem
  }
  .row div, .btn {
    margin:  1rem 5px 1rem;
    height: 55%;
    width: 40%;
    border: 10px solid black;
  }
  .row div {
    padding: 4rem;
  }

  @keyframes slideFromLeft {
    from {
      transform: translateX(-300px);
    }
    to {
      transform: translateX(0);
    }
  }
}

@media all and (max-width: 330px){
  .description {
    width: 75vw;
    background-color: #00346c;
  }
  #level-title {
    font-size: 2rem;
    margin:  2rem 5% 1rem 5%;
  }
  #start {
    font-size: 2rem;
  }
  @keyframes slideFromLeft {
    from {
      transform: translateX(-250px);
    }
    to {
      transform: translateX(0);
    }
  }
}