* {
  font-family: 'Tilt Neon', sans-serif;
}

body {
  text-align: center;
  background-color: #011F3F;
}

#level-title, .playButton {
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.playButton{
  margin-top: 30% !important;
}

#level-lose {
  font-size: 4rem;
  margin:  5%;
  color: #f70505;
}

.container {
  display: none;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#start {
  display: block;
  margin: auto;
  font-size: 3.5rem;
  color: blue;
}

@keyframes growCounter {
  from {
    width: 0px;
}

to {
    width: 100%;
}
}

.timer-bar {
  height: 2px;
  width: 1px;
  background-color: #f70505;
  
  animation-duration: 20s;
}