* {
  font-family: 'Tilt Neon', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #011F3F;
  color: #FEF2BF;
  min-height: 100vh;
}

#level-title, .playButton {
  font-size: 3rem;
  margin:  2rem 5%;
}

.instruction-size {
  font-size: 1rem;
}

.description {
  display: none;
  position: absolute;
  left: 1%;
  top: 1%;
  width: 20%;
  background-color: #065ab4c6;
  border-radius: 10px;
  text-align: left;
  padding: 10px;
}

.playButton{
  margin-top: 30% !important;
}

#level-lose {
  font-size: 4rem;
  margin:  2rem 5%;
  color: #f70505;
}

.container {
  display: none;
  width: 50%;
  margin: 0 auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#start {
  display: block;
  margin: auto;
  font-size: 3.5rem;
  color: blue;
}

@keyframes growCounter {
  from {
    width: 0px;
}

to {
    width: 100%;
}
}

.timer-bar {
  height: 2px;
  width: 1px;
  background-color: #f70505;
  
  animation-duration: 20s;
  animation-timing-function: linear;
}

.footer { 
  margin-top: auto 0 0 0;
  text-align: center;
  background-color: rgba(75, 75, 75, 0.807);
  color:antiquewhite;
}